[paths]
source =
   src/specsynthase
   */site-packages/specsynthase

[run]
omit = src/specsynthase/cli.py
branch = true
source =
    specsynthase

[report]
omit = src/specsynthase/cli.py
show_missing = true
